@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


.content {
    font-family: 'Playfair Display', serif; }
    
/*
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 3.5rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

.form-control {
  border: none;
  border: 1px solid #f9f7f7;
  border-radius: 0; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control {
  height: 55px; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;

  color: #000; } */
  .con{
    width: 50% !important;
  }
  @media screen and (max-width: 768px) {
    .content{
      display: flex;
      flex-wrap: wrap;
      margin: 0;
border: 0;
width: 100% !important;
    }
    .container{
/* margin: 0 !important; */
/* padding: 0 !important; */
/* height: fit-content !important; */
justify-content: center;
width: 100%;
scale: 0.9;
width: 100% !important;
    }
    .hi{
display: none;

  }
  form{
   
  }
  .btn-success{
    padding: 0 !important;
    
  }
  .box1{
    scale: 0.8;
    padding: 10px;
  }
  .oh{
    /* scale: 0.8; */
  }
  } 
