@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');



.footer {
    font-family: 'Playfair Display', serif; 
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white;
    text-align: center;
  */
 }
 @media screen and (max-width: 990px) {

}